/* Write your CSS here */
* {
  margin: 0;
}

.bg-container {
  background-color: #1e293b;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  margin: 10px;
  color: #f0bb03;
  font-family: "Bree Serif";
  font-size: xx-large;
}
p{
  color: #ffffff;
  font-family: "Bree Serif";
  padding: 5px;
  margin: 5px;
  font-size: x-large;
}
button{
  background-color: #ffffff;
  color: #1e293b;
  border-width: 0;
  border-radius: 5px;
  height: 25px;
  width: 100px;
  font-weight: bold;
  margin: 5px;
  cursor: pointer;
  outline: none;
}